div{
    background-color: red;
    margin: 10px auto ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: blue;
    font-family: sans-serif;
    height: 200px;
    width: 200px;
    border-radius: 5px;
}div{
    background-color: red;
    margin: 10px auto ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: blue;
    font-family: sans-serif;
    height: 200px;
    width: 200px;
    border-radius: 5px;
}div{
    background-color: red;
    margin: 10px auto ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: blue;
    font-family: sans-serif;
    height: 200px;
    width: 200px;
    border-radius: 5px;
}div{
    background-color: red;
    margin: 10px auto ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: blue;
    font-family: sans-serif;
    height: 200px;
    width: 200px;
    border-radius: 5px;
}div{
    background-color: red;
    margin: 10px auto ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: blue;
    font-family: sans-serif;
    height: 200px;
    width: 200px;
    border-radius: 5px;
}